{% extends "base.html" %}

{% block content %}
<h4 class="text-center">Регистрация нового пользователя</h4>

<form method="post">
    {% csrf_token %}
    <div class="d-flex justify-content-center">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>
    <input type="submit" value="Регистрация"/>
    <input type="hidden" name="next" value="{% url 'register_done' %}"/>
</form>

{% endblock %}