{% extends "base.html" %}

{% block content %}
<p>Добро пожаловать на наш сайт! Мы предлагаем удобные и надежные билеты на автобусы в междугороднем сообщении. С нами
    вы можете легко спланировать свое путешествие и выбрать оптимальный маршрут.</p>
<p>Наш сервис позволяет быстро найти подходящий рейс, сравнить цены и забронировать билет всего за несколько кликов. У
    нас представлены рейсы от ведущих автобусных компаний, что гарантирует вам комфорт и безопасность во время
    поездки.</p>
<p>Мы заботимся о вашем удобстве, поэтому у нас вы найдете самые актуальные расписания, информацию о наличии мест и
    возможность выбора наиболее подходящего времени отправления. Оплатить билет можно любым удобным способом, включая
    банковские карты и электронные кошельки.</p>
<p>Кроме того, мы регулярно обновляем наши предложения, чтобы предложить вам лучшие цены и акции. Подписывайтесь на
    нашу рассылку, чтобы быть в курсе всех специальных предложений!</p>
{% endblock %}

